
<div class="row">
  <div class="col-md-12">
  <h1 class="display-1 d-flex justify-content-center"> MIAA FOREVER ! </h1>

  {{#link-to "posts"}}
  <button class="btn btn-primary btn-lg"> posts </button>
  {{/link-to}}

{{outlet}}

  </div>
</div>
